[submodule "test/gtest"]
	path = test/gtest
	url = https://github.com/google/googletest.git
[submodule "audio-control-protocol"]
	path = audio-control-protocol
	url = git@github.com:elk-audio/audio-control-protocol.git
